<div class="container">
    <div class="row">
        <div class="col-md-12 return_page">
            <h1> Thank you and welcome to the Spot Tracker </h1>
            <p> Caught some fish? Put it in the Log! </p>
            <p> <a href="/login/new" class="btn btn-dark">Login and Start Loggin'</a></p>
        </div>
    </div>
</div>