<div class="container">
    <div class="row">
        <div class="col-md-12 return_page">
            <h1> Welcome Back </h1>
            <p> Caught some fish? Put it in the Log! </p>
            <p> <a href="/spots" class="btn btn-dark">Log It</a></p>
        </div>
    </div>
</div>