<div class="container">
    <div class="row">
        <div class="col-md-12 return_page">
            <h1> Atta Boy! </h1>
            <p> Time's a wasting, go getcha self another meuhl </p>
            <p> <a href="/spots/<%= @spot[:id] %>" class="btn btn-dark">Back to <%= @spot[:name] %> Page</a></p>
        </div>
    </div>
</div>