<div class="container spot_list">
    <div class="row">
        <div class="col-md-12">    
            <h1 class="the_header"> Fishin Log - Spot Tracker </h1> 
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <p><a href="/login/new" class="btn btn-dark btn-lg initial_buttons"> Login </a> </p>
            <p><a href="/users/new" class="btn btn-dark btn-lg initial_buttons">Sign-Up</a></p>
        </div>
    </div>
</div>
