<div class="container">
    <div class="row">
        <div class="col-md-12 return_page">
            <h1 class="logout"> You've been successfully "logged" out (pun intended) </h1>
            <p><a href="/" class="btn btn-dark logout">Home</a></p>
        </div>
    </div>
</div>