.spot_list{
    text-align: center;
   
}
.the_header{
    font-size: 72px;
}
.spot_header{
    text-align: center;
    font-size: 72px;
}
.new_entry{
    text-align: center;
}
.sub_head_master{
    text-align: center;
    font-size: 40px;
}